<!--
https://codepen.io/FlorinPop17/pen/bJayqM
https://freefrontend.com/css-chats/
https://www.florin-pop.com/blog/2019/04/chat-interface/
-->
<head>
  <link rel="stylesheet" href="http://cientistaspatentes.com.br/css/codepen8.css" />
</head>
<body>

<h2>Weekly Coding Challenge #8 <br /> Chat Interface</h2>
<div class="chat-container">
	<ul class="chat">
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>I'm hungry!</p>
		</li>
	</ul>
	<ul class="chat">
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>Hi hungry ok, nice to meet you. I'm Dad.</p>
		</li>
	</ul>
	<ul class="chat">
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>DAD! I'm serious!</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>I thought your name was hungry...?</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>No, I'm Dad...</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>No, I'm Dad...</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>No, I'm Dad...</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>No, I'm Dad...</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
    </ul>
	<input type="text" class="text_input" placeholder="Message..."/>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/04/chat-interface/">here</a>
	</p>
</footer>



</body>