<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <title>Interface com Rasa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .chat-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .chat-message {
            padding: 10px;
            margin-bottom: 10px;
        }

        .user-message {
            background-color: #e9ecef;
        }

        .bot-message {
            background-color: #dcf8c6;
        }
    </style>
</head>

<body>
    <div class="chat-container">
        <div id="chat-messages"></div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="entrada_texto" placeholder="Digite sua mensagem">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="send-button">Enviar</button>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('send-button').addEventListener('click', function () {
            enviarMensagem();
        });

        document.getElementById('entrada_texto').addEventListener('keyup', function (event) {
            if (event.keyCode === 13) {
                enviarMensagem();
            }
        });

        function enviarMensagem() {
            var mensagem = document.getElementById("entrada_texto").value;
            if (mensagem.trim() !== '') {
                enviarRequisicaoRasa(mensagem);
            }
        }

        function exibirResposta(resposta) {
            var userInput = document.getElementById("entrada_texto").value;
            var chatMessages = document.getElementById('chat-messages');

            var userMessageElement = createMessageElement(userInput, 'user-message', 'avatar.png');
            chatMessages.appendChild(userMessageElement);

            var botMessageElement = createMessageElement(resposta, 'bot-message', 'chatbot.png');
            chatMessages.appendChild(botMessageElement);

            document.getElementById('entrada_texto').value = '';
        }

        function createMessageElement(message, className, icon) {
            var messageContainer = document.createElement('div');
            messageContainer.className = 'chat-message';

            var messageElement = document.createElement('p');
            messageElement.innerText = message;
            messageElement.className = className;

            var imageUrl = icon;
            var imageElement = document.createElement('img');
            imageElement.src = "https://cientistaspatentes.com.br/imagens/" + imageUrl;
            imageElement.width = 60;
            imageElement.align = 'middle';
            messageElement.appendChild(imageElement);

            if (message.trim() !== '') {
                messageElement.innerText = "";
                messageElement.appendChild(imageElement);
                var textElement = document.createElement('span');
                textElement.innerText = "  " + message;
                messageElement.appendChild(textElement);
            }

            messageContainer.appendChild(messageElement);
            return messageContainer;

        }

        function enviarRequisicaoRasa(mensagem) {
            var url = "https://52.41.36.82:5005/webhooks/rest/webhook";
            var payload = {
                "sender": "user",
                "message": mensagem
            };
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var respostas = JSON.parse(xhr.responseText);
                    if (respostas.length > 0) {
                        var resposta = respostas[0].text;
                        exibirResposta(resposta);
                    }
                }
            };
            xhr.send(JSON.stringify(payload));
        }
    </script>
    <!-- colocar transparencia em imagens https://picwish.com/pt/remove-background -->
</body>

</html>