<!-- https://www.npmjs.com/package/@scalableminds/chatroom
https://www.youtube.com/watch?v=ZhRo3gfLk90&list=PL75e0qA87dlErcimrWHKEUq4b-x9PrpLe&index=12
-->

<head>
  <!--  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />-->
  <link rel="stylesheet" href="Chatroom.scss" />
</head>

<body>
  <div class="chat-container"></div>

  <!--<script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>-->
  <script src="Chatroom.js" />
  </script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "https://52.41.36.82:5005",
      title: "Chat",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi, I am Mike. How may I help you?",
      speechRecognition: "en-US",
      voiceLang: "en-US"
    });
    chatroom.openChat();
  </script>
</body>